.container{
    width: 90%;
    display: flex;
    justify-content: center;
    font-family: arial;
    padding: 1rem;
    margin: 0 auto;
}

.title{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing:-1px;
    text-align: center;
    margin-bottom: 2rem;
    opacity: .8;
    color: green;
}

.header{

}

.input{
    display: flex;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
}

input[type="text"]{
    font-size: 1rem;
    border-radius: 5px;
    border: solid 1.9px;
    flex: 1;
    padding: 0.5rem;
    outline: none;
}

input[type="text"]:focus{
    border-color: green;
}

.input button{
    border-radius: 5px;
    border:none;
    color: #fff;
    background-color: green;
    padding: 0 .8rem;
    cursor: pointer;
}
.input button:hover{
    background-color: rgb(1, 114, 1);
  
}

.message{
    padding: 0.5rem;
    margin-top: 2rem;
    text-align: center;
    color:rgb(240, 79, 79);
}

.popular{
    margin-top: 2rem;
    font-size: 1.5rem;
    opacity: .9;
}

.recipes{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(5,200px);
    gap: 10px;
    margin-top: 2rem;
    margin: 0 auto;
}

.recipe{
    height: 300px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: 0 0 2px rgba(116, 105, 105, 0.5);
    transition: ease .2s;
    cursor: pointer;
}

.recipe:hover{
    transform: translateY(-2px);
    box-shadow: 0px 5px 5px rgba(117, 103, 103, 0.5);
}

.recipe .image{
    height: 60%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe .info{
    width: 100%;
    height: 40%;
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.info h3{
    margin-bottom:0;
    width: 80%;
}

.info p{
    width: 80%;
}

@media(max-width:72rem){
.recipes{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(4,200px);
    gap: 10px;
    margin-top: 2rem;
}
}

@media(max-width:59rem){
.recipes{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(3,200px);
    gap: 10px;
    margin-top: 2rem;
}

}

@media(max-width:44rem){

.recipes{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2,200px);
    gap: 10px;
    margin-top: 2rem;
}

}
@media(max-width:30rem){

:root{
    font-size: 14px;
}


.container{
    width: 90%;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.popular{
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
}

.input{
    display: flex;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
}

.recipes{
    display: grid;
    grid-template-columns: repeat(1,100%);
    gap: 10px;
    margin-top: 2rem;
}

.recipe{
    height: auto;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: 0 0 2px rgba(116, 105, 105, 0.5);
    transition: ease .2s;
    cursor: pointer;
}

}