.container1{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.container1 button{
    background-color: transparent;
    border: solid 1px green;
    border-radius: 5px;
    color: green;
    padding: .3rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    transition: .3s;
}
.container1 button:hover{
    background-color: green;
    border: solid 1px green;
    border-radius: 5px;
    color:#fff;
    padding: .3rem;
    font-size: 1rem;
}

.container1 .image{
    width: 50%;
    max-height: 25rem;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meal-name{
    color: green;
    font-size: 1.3rem;
}

.instructions{
    width: 70%;
    text-align: center;
}

ul{
    list-style:disc;
}

ul li::marker{
    color: green;
    font-size: 1rem;
}



@media(max-width:72rem){
.container1{
    width: 85%;
}
}

@media(max-width:59rem){
.container1{
    width: 90%;
}

}

@media(max-width:44rem){
.container1{
    width: 95%;
}

.container1 .image{
    width: 80%;
    max-height: 25rem;
    overflow: hidden;
}

.meal-name{
    color: green;
    font-size: 1.5rem;
}

.instructions{
    width: 90%;
    text-align: center;
}

}
@media(max-width:30rem){

:root{
    font-size: 14px;
}


.container1{
    width: 100%;
}


}